@use './mixins' as mixin;

.b1 {
    background-color: red;
    border: 1px solid red;
}

.b2 {
    background-color: green;
    border: 1px solid green;
}

.b3 {
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.b4 {
    background-color: blue;
    border: 1px solid blue;
}

.br {
    @include mixin.xs {
        border: 2px solid red;
    }

    @include mixin.sm {
        border: 2px solid blue;
    }

    @include mixin.md {
        border: 2px solid greenyellow;
    }

    @include mixin.lg {
        border: 2px solid orange;
    }

    @include mixin.xl {
        border: 2px solid purple;
    }
}